$menu-break-point: 540px;

.menu {
  float: left;
  display: block;
  width: 100%;
  position: fixed;
  top: 1em;
  left: 1em;
  @media(min-width: $menu-break-point) {
    float: none;
    top: 0;
    left: 0;
    height: 75px;
    background-color: rgb(4, 180, 49);
    background-color: rgba(4, 180, 49, 0.6);
  }
  #menu-toggle {
    @media(min-width: $menu-break-point) {
      display: none;
    }
  }
}

@media(min-width: $menu-break-point) {
  body {
    margin: auto 2em;
    margin-top: 105px;
  }
}

.menu-container {
  text-align: center;
  max-height: 100vh;
  overflow: auto;
  .menu-items {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    @media (min-width: $menu-break-point) {
      margin: 15px 0 0 0;
    }
  }
  .menu-item {
    padding: 1em 0;
    border-bottom: 1px solid #999;
    &:hover {
      background-color: #87ED91;
      @media (min-width: $menu-break-point) {
        background: none;
      }
    }
    @media (min-width: $menu-break-point) {
      list-style: none;
      margin-right: 1em;
      padding: 0 1em;
      display: inline-block;
      font-size: 14px;
      line-height: 50px;
      border: none;
    }
    a {
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: #000;
    }
    .active {
      color: #666;
      text-decoration: underline;
    }
  }
}

#side-menu {
  border-top: 5px solid #87ED91;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  position: fixed;
  height: 100%;
  width: 320px;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.85);
  transition: transform 0.20s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transform: translateX(-320px);
  @media (min-width: $menu-break-point) {
    width: 100%;
    height: 75px;
    transform: translateX(0);
    border: none;
    background: none;
    transition: none;
  }
}

.sideMenuToggle {
  transform: translateX(0) !important;
}

#menu-close {
  float: right;
  margin: 7px 18px;
  @media (min-width: $menu-break-point) {
    display: none;
  }
}
