{% spaceless %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">
    <title>{% block title %} - {{ SITENAME }}{% endblock %}</title>
    <!--<link href="https://fonts.googleapis.com/css?family=:400,700" rel="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    {% assets filters="scss,cleancss", output="css/style.%(version)s.css", "scss/style.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/menu.js"></script>
    <script>menu.init()</script>
    {% block scripts %}
    {% endblock %}
    {% if SMARTLOOK  %}
    <script type="text/javascript">
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='//rec.getsmartlook.com/recorder.js';h.appendChild(c);
      })(document);
smartlook('init', '7cd8806fdfc77613612ddbbc113162a14266636c');
    </script>
    {% endif %}
  </body>
</html>
{% endspaceless %}
