{% extends 'base.html' %}

{% block title %}Blog{{ super() }}{% endblock %}

{% block content %}
{% if articles %}
  {% for article in dates_page.object_list %}
  <article>
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
    <p>{{ article.content }}</p>
  </article>
  {% endfor %}
{% endif %}
{% endblock %}
