<header class="menu">
  <a class="fa fa-bars menu fa-2x" id="menu-toggle"></a>
  <nav id="side-menu" class="menu-container">
    <a class="fa fa-close" id="menu-close"></a>
    <ul class="menu-items">
      {% for title, link in MENUITEMS %}
      <li class="menu-item">
        <a href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
      </li>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU %}
        {% for page_item in PAGES %}
        <li class="menu-item">
          <a href="{{ page_item.url }}">{{ page_item.title }}</a>
        </li>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
</header>
